.webix{

    &_button, .webixbutton{
        font-weight: 400!important;
    }

    &_tree_item{
        cursor: pointer!important;
        padding: 5px 10px!important;
        border-radius: 4px!important;
    }
    &_tree_item:hover{
        background-color: var(--gray-light)!important;
    }

    &_tree_folder_open{
        color: var(--primary-light)!important;
    }
    &_tree_item.webix_selected > .webix_tree_file{
        color: var(--primary-light)!important;
    }
    
    &_tree .webix_tree_item.webix_selected{
        background-color: var(--gray-light)!important;
        font-weight: 500;
    }

    &_webix_selected .webix_tree_file{
        color: var(--primary-light)!important;
    }

    &_tree_item:hover .webix_tree_folder,
    &_tree_item:hover .webix_tree_folder_open,
    &_tree_item:hover .webix_tree_file{
        color: var(--primary-light);
    }

   

    
    
    &_primary .webix_button{
        @include primary-btn;
    }
    &_primary .webix_button:hover{
        @include primary-btn--hover;
    }
    &_primary .webix_button:active{
        @include primary-btn--active;
    }



    &_secondary .webix_button{
        @include secondary-btn;
    }
    &_secondary .webix_button .webix_icon_btn{
        color: var(--primary)!important;
    }

    &_secondary .webix_button:hover{
        @include secondary-btn--hover;
    }
    &_secondary .webix_button:hover .webix_icon_btn{
        color:var(--white)!important;
    }

    &_secondary .webix_button:active{
        @include secondary-btn--active;
    }


    &_view.webix_control .webix_disabled_box .webix_button{
        color: rgb(124, 124, 124)!important;
        background: var(--gray) !important;
    }

    &_disabled_box .webix_img_btn  {
        color: rgb(124, 124, 124)!important;
    }



    &_danger .webix_button .webix_icon_btn {
        color: var(--danger)!important;
    }
    &_danger .webix_button{
        background: var(--danger-light)!important;
        transition: .2s;
        border-radius: 4px!important;
    }

    &_danger:hover .webix_button{
        background: var(--danger)!important;
    }

    &_danger .webix_button:hover .webix_icon_btn{
        color:var(--white)!important;
    }
    &_danger:active .webix_button{
        background: var(--danger-dark)!important;
    }

    &_danger .webix_icon_btn,
    &_btn-download .webix_icon_btn{
        margin: 0px !important;
    }

    

    &_add-btn > .webix_el_box > .webix_button {
        background: var(--add)!important;
        transition: .2s;
    }
    &_add-btn > .webix_el_box > .webix_button > .webix_icon_btn{
        color:var(--white)!important;
    }
    &_add-btn:hover > .webix_el_box > .webix_button {
        background: var(--add-light)!important;
    }
    &_add-btn:active > .webix_el_box > .webix_button {
        background: var(--add-dark)!important;
    }


    &_pager_item_selected{
        cursor: pointer;
        border-radius: 4px!important;
        @include primary-btn;
    }
    &_pager_item_selected:hover{
        cursor: pointer;
        @include primary-btn--hover;
    }
    &_pager_item_selected:active{
        @include primary-btn--active;
    }

    &_view .webix_pager_item{
        border-radius: 4px!important;
        @include secondary-btn;
    }
    &_view .webix_pager_item:hover{
        @include secondary-btn--hover;
    }
    &_view .webix_pager_item:active{
        @include secondary-btn--active;
    }

    
}



.webix_disabled_box .webix_button .webix_icon_btn {
    color: rgb(124, 124, 124)!important;
}
