///////////////////////////////
//
// скролл                                       create scroll
//
// общие стили                                  create global
//
// кнопки                                       create buttons
//
// вид загрузки компонента                      create load view
//
// общйи вид у checkbox                         create checkbox
//
// смена пароля                                 create cp
//
// попапы                                       create popup
//
// редактор колонок                             create visible columns list
//
// системные сообщения                          create log block
//
// контекстное меню                             create context menu  
//
// календарь                                    create calendar
//
// пустой элемент                               create empty view
//
// заголовок компонента                         create viewHeadline
//
// радио кнопки                                 create radio button
//
// ресайзер                                     create resizer
//
// дерево                                       create tree
//
// попап prompt                                 create prompt
//
// компрнент логина                             create login
//
// уведомления                                  create notify
//
// фон интерфейса                               create workspace background
//
// дашборды                                     create dashboard
//
// таблицы                                      create table
//
// вкладки                                      create tabbar
//
// Copyright (c) 2022 CA Expert
//
///////////////////////////////



@import "src/scss/vars";

@import "src/scss/mixins";


// icons
@import "src/scss/icons/icomoon";


html, body {
    scrollbar-width: 9px!important;  
}





// create scroll

// полоса прокрутки (скроллбар) 
::-webkit-scrollbar {
    width: auto!important;  
    height: auto!important; 
}

// ползунок скроллбара 
::-webkit-scrollbar-thumb {
    background-color: #b3b3b3!important;  
    border-radius: 0px!important;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #c4c3c3!important; 
}

::-webkit-scrollbar-thumb:active {
    background-color: #a0a0a0!important; 
}






// create global

// сокрытие дефолтной анимации backbone router
.webix_view.webix_layout_line { 
    transition: none!important;
}   

// классы видимости элемента
.webix_hide-content{
    display: none!important;
}
.webix_show-content{
    display: block!important;
}



//общие стили у тэгов
h1, h2, h3, h4, h5, h6{
    color:var(--dark)!important;
}

select {
    cursor:pointer;
}


 
a {
    color: var(--dark);
}

a:hover {
    color: var(--primary);
}

a:active {
    color: var(--primary-dark);
}
 

input:focus,
.webix_inp_static:focus,
select:focus{
    border: 1px solid var(--primary)!important;
}

::placeholder {
    color: #858585 !important;
}
  
input, 
select,
textarea,
.webix_inp_static {
    border-radius: 4px!important;
    font-weight: 400!important;
}

textarea:focus{
    border: 1px solid var(--primary)!important;
}

label, button{
    font-weight: 500!important;
}





// create buttons

//primary
   
.webix_primary .webix_button{
    @include primary-btn;
}
.webix_primary .webix_button:hover{
    @include primary-btn--hover;
}
.webix_primary .webix_button:active{
    @include primary-btn--active;
}


//secondary
.webix_secondary .webix_button{
    @include secondary-btn;
}

// цвет иконки в secondary btn
.webix_secondary .webix_button .webix_icon_btn{
    color: var(--primary)!important;
}

.webix_secondary .webix_button:hover{
    @include secondary-btn--hover;
}

// цвет иконки hover в secondary btn
.webix_secondary .webix_button:hover .webix_icon_btn{
    color:var(--white)!important;
}

.webix_secondary .webix_button:active{
    @include secondary-btn--active;
}



// collapse btn
// background у кнопки сокрытия дерева в header
.webix_collapse .webix_button,
.webix_collapse .webix_button:hover,
.webix_collapse .webix_button:active{
    background : transparent!important;
}

// hover иконки у кнопки сокрытия дерева в header
.webix_collapse .webix_button:hover .webix_icon_btn{
    color: var(--dark)!important;
}

// позиционирование кнопки сокрытия дерева в header
.webix_collapse .webix_button{
    padding-left:15px;
    padding-top:2px;
}



// иконки у кнопок
.webix_icon_btn{
    font-size: 13px!important; 
    margin-right: 0px!important;
}
.webix_img_btn > .webix_icon_btn{
    margin-bottom: 1px !important;
}
.webix_img_btn > .icon-trash{
    margin-bottom: 2px!important;
}




// segment btn (table filter)

// отступ от поля ввода
.webix_el_segmented{
    margin-top: 7px!important;
}

// размеры
.webix_segment_N,
.webix_segment_0{
    font-size: 14px!important;
    margin:0px 5px!important;
    width: 100px!important;
    border-radius: 5px!important;

}


// цвета
.webix_segment_N.webix_selected,
.webix_selected.webix_segment_0{
    background-color: var(--primary)!important;
    border-color: var(--primary)!important;
    color: #fff!important;
}

.webix_segment_N,
.webix_segment_0{
    @include secondary-btn;
}

.webix_segment_N:hover,
.webix_segment_0:hover{
    @include secondary-btn--hover;
}

.webix_segment_N:active,
.webix_segment_0:active{
    @include secondary-btn--active;
}


// центрирование текста
.webix_all_segments{
    text-align: center;
}

 

// editBtn (table toolbar) цвета иконки 
.edit-btn-icon .webix_button .webix_icon{
    color:var(--primary)!important;
}

.edit-btn-icon .webix_button:hover .webix_icon {
    color: var(--white) !important;
}




//remove 

// цвет иконки
.webix_danger .webix_button .webix_icon_btn {
    color: var(--danger)!important;
}


// вид всей кнопки
.webix_danger .webix_button{
    background: var(--danger-light)!important;
    transition: .2s;
    border-radius: 4px!important;
}

.webix_danger:hover .webix_button{
    background: var(--danger)!important;
}

.webix_danger .webix_button:hover .webix_icon_btn{
    color:var(--white)!important;
}
.webix_danger:active .webix_button{
    background: var(--danger-dark)!important;
}





//disabled вид кнопки

// background
.webix_view.webix_control .webix_disabled_box .webix_button{
    color: rgb(124, 124, 124)!important;
    background: var(--gray) !important;
}

// икнопки
.webix_disabled_box .webix_img_btn  {
    color: rgb(124, 124, 124)!important;
}

.webix_disabled_box .webix_button .webix_icon_btn {
    color: rgb(124, 124, 124)!important;
}




// прозрачный фон у кнопок
.webix-transparent-btn  .webix_button.webix_img_btn{
    background:transparent!important;
}


.webix-transparent-btn  .webix_button.webix_img_btn:hover{
    background:var(--gray-light)!important;
}

.webix-transparent-btn  .webix_button.webix_img_btn:active{
    background:var(--gray)!important;
}


// вид иконок у прозрачных кнопок
.webix-transparent-btn .webix_button .webix_icon_btn{
    padding-top: 4px!important;
}

.webix-transparent-btn .webix_button:hover .webix_icon_btn{
    color:var(--primary-dark)!important;
}






//-------------------------history btns
.btn-history {
    background:var(--gray-light)!important;
}
.btn-history .webix_button.webix_img_btn:hover {
    background:#d5d4d5!important;
}



//create load view

// вид загрузки компонента
.global_loadTemplate{
    color :#858585;
    font-size : 14px!important;
}
.global_loadTemplate,
.global_loadTemplate div{
    background-color : var(--bg) !important;
}




// create checkbox

//общйи вид у checkbox
.webix_el_checkbox .webix_label_right{
    padding-top:6px!important;
}
.webix_custom_checkbox {
    color:  var(--primary)!important;
}

.webix_custom_checkbox:focus {
    color:  var(--primary)!important;
}
.webix_el_checkbox .webix_label_right{
    font-size: 14px!important;
    font-weight: 400!important;
}





// create cp


// отсутп от границ контентной части
.webix_auth{
    margin: 1px 0px 0px 1px!important;
}


// заголовок 
.webix_cp-form,
.webix_headline-userprefs{
    font-weight: 600!important;
    font-size: 18px!important;
}

// отсутп заголовка 
.webix_cp-form >  .webix_template,
.webix_headline-userprefs > .webix_template,
.webix_userprefs-info > .webix_template{
    padding-left: 0px!important;
}




// create popup
 

// размеры confirm компонента
.webix_modal_box{
    border-radius: 4px!important;
    padding: 15px 30px!important;
}

// сокрытие дефолтного webix стиля у заголовка confirm компонента
.webix_alert .webix_popup_title,
.webix_confirm .webix_popup_title{
    box-shadow:none!important;
}

// отступ от пояснительной части confirm компонента
.webix_modal-custom-save.webix_alert .webix_popup_text{
    margin-bottom: 5px!important;
}

// размеры confirm кнопок
.webix_popup_button{
    height: 40px!important;
    min-width: 120px!important;
    line-height: 26px!important;
    padding: 5px 10px!important;
}
.webix_modal_box.webix_confirm{
    width: 400px!important;
}


// главная кнопка
.webix_modal-custom-save > .webix_popup_controls .webix_popup_button:last-child,
.webix_popup_button.confirm {
    @include primary-btn;
    color:#fff!important;
}

.webix_modal-custom-save > .webix_popup_controls .webix_popup_button:last-child:hover,
.webix_popup_button.confirm:hover {
    @include primary-btn--hover;
}

.webix_modal-custom-save > .webix_popup_controls .webix_popup_button:last-child:active,
.webix_popup_button.confirm:active {
    @include primary-btn--active;
}




// стиль средней кнопки (если их 3)
.webix_modal-custom-save > .webix_popup_controls .webix_popup_button,
.webix_popup_button {
    @include secondary-btn;
}    
.webix_modal-custom-save > .webix_popup_controls .webix_popup_button:hover,
.webix_popup_button:hover {
    @include primary-btn--hover;
    color: #fff!important;
}
.webix_modal-custom-save > .webix_popup_controls .webix_popup_button:active,
.webix_popup_button:active  {
    @include secondary-btn--active;
    color: #fff!important;
}



// стиль заголовка 
.webix_popup_title{
    font-weight: 600!important;
}


// сокращение заголовка в случае если он не вмещается
.no-wrap-headline{
    text-overflow   : ellipsis!important;
    white-space     : nowrap;
    overflow        : hidden;
    font-size       : 15px!important;
    font-weight     : 600;
    padding-top     : 5px!important;
    width           : 100%!important;
}





// edit table form => calendar popup

// знак ":" между инпутами времени 
.popup_time-spacer {
    background-color: transparent!important;
    font-size: 20px!important;
}
.popup_time-spacer .webix_template{
    padding: 2px 2px 0px 2px!important;
 
}
// заголовок у инпутов времени
.popup_time-timeFormHead{
    background-color: transparent!important;
}.popup_time-timeFormHead .webix_template{
    padding: 0px!important;
}


// скругление у всех popup
.webix_popup{
    border-radius: 6px!important;
}


// кнопка close у всех popup
.popup_close-btn .webix_button.webix_img_btn{
    background-color: transparent!important;
    width: 27px!important;
}

.popup_close-btn .webix_button:hover .webix_icon_btn{
    color: var(--primary-light)!important;
}

.popup_close-btn .webix_button:active .webix_icon_btn{
    color: var(--primary-dark)!important;
}

.popup_close-btn .webix_icon_btn{
    font-size: 20px!important;
}


// внутр. отступы у всех popup
.webix_popup-config{
    padding:20px 20px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    left: 0!important;
    right: 0!important;
}




// create visible columns list

// кнопка сброса до дефолтных настроек колонок
.webix-trash-btn-color .webix_img_btn .webix_icon_btn{
    color:var(--danger)!important;
}

// внутренний отступ у list-элемента
.webix_list.list-filter-borders .webix_scroll_cont{
    padding-bottom: 28px!important;
}

// background у list-элемента
.list-filter-borders{
    background-color:var(--bg)!important;
    border-radius: 0px 0px 6px 6px;
}

// background у пустого list-элемента
.list-filter-empty .webix_empty-template{
    background-color:var(--bg)!important;
}

// заголовок у list-элемента
.list-filter-headline{
    background-color:var(--gray-light)!important;
    border-radius: 6px 6px 0px 0px;
    font-weight: 600!important;
    margin-top: 10px!important;
    padding: 7px 0px 10px 0px!important;
}


// выделенный item у list-элемента
.webix_list_item.webix_selected {
    box-shadow: inset 2px 0 var(--primary)!important;
}





// create log block

// header btn log block стиль счетчика уведомлений
.webix_badge{ 
    background-color: var(--danger)!important;
}

// заголовок системных сообщений
.webix_log-headline{
    font-weight: 600;
}
// сообщения 
.webix_log-block .webix_list_item{
    cursor: default!important;
    font-size: 13px!important;
}
.webix_list_item{
    height:auto!important;
}
.webix_template-user{
    width:auto!important;
}

// сообщения об ошибках
.webix_contextmenu a:last-child{
    color:  var(--danger-dark)!important;
}
.webix_contextmenu a:last-child:hover{
    color:  var(--dark)!important;
}




// create context menu   

// элементы контекстного меню - размер иконок
.webix_list_item .webix_icon{
    font-size: 13px!important;
    margin-right: 8px!important;
}
// элементы контекстного меню - размер текста
.webix_list_item.menu{
    font-size: 13px!important;
}

// элемент выхода из системы - цвет иконки
.icon-sign-out{
    color:var(--danger-dark)!important;
}


 



// create calendar

// сегодняшнее число 
.webix_cal_body .webix_cal_today .webix_cal_day_inner{
    box-shadow: inset 0 0 0 1px var(--primary)!important;
}

// выходные
.webix_cal_body .webix_cal_event{
    color: var(--primary)!important;
}

// месяц и год
.webix_cal_body .webix_cal_block.webix_selected span:hover{
    background-color: var(--primary-light)!important;
}
.webix_cal_body .webix_cal_block.webix_selected span{
    background-color: var(--primary)!important;
}
.webix_cal_body .webix_cal_block.webix_selected span:active{
    background-color: var(--primary-dark)!important;
}
.webix_cal_body .webix_cal_block span:hover{
    background-color: var(--secondary)!important;
}

// кнопки назад/вперед
.webix_cal_prev_button:hover{
    color: var(--primary-light)!important;
}

.webix_cal_next_button:hover{
    color: var(--primary-light)!important;
}

.webix_cal_next_button:focus{
    color: var(--primary)!important;
}

.webix_cal_prev_button:focus{
    color: var(--primary)!important;
}

// кнопка выбора месяца/года
.webix_cal_done {
    @include secondary-btn;
    height: 35px!important;
    cursor: pointer;
}
.webix_cal_done:hover{
    @include secondary-btn--hover;
    border:none!important;
}
.webix_cal_done:active{
    @include secondary-btn--active;
    border:none!important;
}
.webix_win_body > .webix_view {
    border-radius: 4px;
}

// выбранный месяц и год - скругление
.webix_cal_body .webix_cal_block span {
    border-radius: 8%!important;
}



// выбранный день
.webix_cal_body .webix_cal_select .webix_cal_day_inner,
.webix_cal_body .webix_cal_today.webix_cal_select .webix_cal_day_inner {
    background: var(--primary)!important;
}

.webix_cal_body .webix_cal_select .webix_cal_day_inner:hover,
.webix_cal_body .webix_cal_today.webix_cal_select .webix_cal_day_inner:hover {
    background: var(--primary-light)!important;
}

.webix_cal_body .webix_cal_select .webix_cal_day_inner:active,
.webix_cal_body .webix_cal_today.webix_cal_select .webix_cal_day_inner:active {
    background: var(--primary-dark)!important;
}

.webix_cal_body .webix_cal_day_inner:hover{
    background: var(--secondary)!important;
}
.webix_cal_icon:hover, .webix_cal_time:hover, .webix_cal_month_name:hover, 
.webix_cal_icon:focus, .webix_cal_time:focus, .webix_cal_month_name:focus{
    color: var(--primary)!important;
}

// форма background выбранного дня
.webix_cal_day_inner{
    border-radius: 5px!important;
}

// кнопки сегодня и очистить
.webix_cal_icon {
    font-size: 13px!important;
}


// кнопка очистить
.webix_cal_icon_clear.webix_cal_icon{
    color: var(--danger);
}
.webix_cal_icon_clear.webix_cal_icon:hover{
    color: var(--danger-light)!important;
}
.webix_cal_icon_clear.webix_cal_icon:active{
    color: var(--danger-dark)!important;
}


// кнопка сегодня
.webix_cal_icons span:not(:last-child){
    margin-right: 5px!important;
}


// counter 
.webix_inp_counter_value{
    margin: 0px 5px 0px 5px!important;
    border: 1px solid var(--gray)!important;
    padding: 0px!important;
    cursor:text!important;
}
.webix_el_counter .webix_inp_counter_value{
    width: 75px!important;
}

 

// create empty view
// вид пустого компонента
.webix_empty-template {
    color:#858585!important;
    font-size:13px!important;
}





// create viewHeadline

.webix_block-headline{
    display:inline-block!important;
    font-size:15px!important;
    font-weight:600!important;
    background:var(--bg)!important;
}





// create radio button
.webix_el_radio .webix_radio_1 .webix_custom_radio{
    color: var(--primary)!important;
}
.webix_el_radio .webix_radio_1 .webix_custom_radio:hover{
    color: var(--primary-light)!important;
}
.webix_el_radio .webix_custom_radio:focus {
    color: var(--primary)!important;
  }
.webix_el_radio .webix_radio_1 .webix_custom_radio:active{
    color: var(--primary-dark)!important;
}

.webix_radio_option label{
    font-weight: 400!important;
}



// create resizer

.webix_resizer {
    border-width: 1px!important;
}



// create input label

.webix_inp_top_label{
    font-size: 12px!important;
 
}




// create tree

// tree edit компонент - фон
.webix_tree.webix_tree-edit{
    background-color: none !important;
}


// элемент дерева - высота и отклик
.webix_tree_item{
    height: 31px!important;
    line-height: 20px!important;
}
.webix_tree_item{
    cursor: pointer!important;
    padding: 5px 10px!important;
    border-radius: 4px!important;
}


// пустой элемент дерева
.tree_none-items{
    color: var(--gray)!important;
}
.tree_none-items:hover{
    background-color: transparent!important;
}
.tree_none-items .webix_tree_file{
    color: var(--gray-light) !important;
}
.tree_none-items:hover .webix_tree_file{
    color: var(--gray-light) !important;
}
.tree_none-items:active .webix_tree_file{
    color: var(--gray-light) !important;
}

// пустой элемент и эл загрузки
.tree_load-items, .tree_none-items, .tree_disabled-item{
    pointer-events: none;
}
.tree_load-items .webix_tree_file{
    color: transparent!important;
}
.tree_disabled-item .webix_tree_folder_open,
.tree_disabled-item .webix_tree_close      ,
.tree_disabled-item .webix_tree_open,
.tree_disabled-item {
    color : var(--gray)!important;
}

// элемент дерева - наведение
.webix_tree_item:hover{
    background-color: var(--gray-light)!important;
}

// цвет открытой папки
.webix_tree_folder_open{
    color: var(--primary-light)!important;
}

// выбранный элемент
.webix_tree_item.webix_selected > .webix_tree_file{
    color: var(--primary-light)!important;
}
.webix_tree .webix_tree_item.webix_selected{
    background-color: var(--gray-light)!important;
    font-weight: 500;
}


// delimeter
.tree_delim-items{
    color: transparent!important;
    pointer-events: none;
    height: 1px!important;
    border-bottom: 1px solid var(--gray)!important;
    padding: 0px 2px!important;
    margin-bottom: 8px!important;
    margin-left: 15px!important;
}
.tree_delim-items .webix_tree_file{
    color: transparent!important;
}




// create prompt
 
// перекрытие webix стиля у заголовка
.webix_prompt-filter-lib .webix_popup_title{
    box-shadow: none!important;
    font-size: 17px!important;
    padding-bottom: 10px!important;
}

// перекрытие webix стилей у инпута
.webix_popup_input.webix_el_text{
    padding: 0!important;
    margin-bottom: 10px!important;
}
.webix_popup_input.webix_el_text input{
    height: 32px!important;
}
.webix_popup_input.webix_el_text.webix_required::before{
    display: none;
}


// кнопка отменить
.webix_prompt-filter-lib > .webix_popup_controls div:nth-child(2){
    @include secondary-btn;
}
.webix_prompt-filter-lib > .webix_popup_controls div:nth-child(2):hover{
    @include secondary-btn--hover ;
}
.webix_prompt-filter-lib > .webix_popup_controls div:nth-child(2):active{
    @include secondary-btn--active ;
}






// create login
//-------------------------login password input hide btn
.password-icon {
    padding     : 7px 6px 0px 0px!important;
    font-size   : 18px!important;
    transition  : .2s;
    cursor      : pointer;
}
.password-icon:hover{
    color       :var(--gray);
}
.password-icon:active{
    color       :var(--gray-dark);
    
}





// create notify
.webix_success{
    border-radius: 4px!important;
    font-weight: 500!important;
}
.webix_success div{
    background-color: var( --success);
}


.webix_error{
    border-radius: 4px!important;
    font-weight: 500!important;
}
.webix_error div{
    background-color: var( --error);
}

.webix_debug{
    border-radius: 4px!important;
    font-weight: 500!important;
}
.webix_debug div{
    background-color: var(--notify);
}



// create workspace background

// bg сайдбара
.webix_tree.webix_tree-main{
    background-color: var(--bg)!important;
}
.webix_side-container{
    background-color: var(--bg)!important;
}

// bg header
.webix_header-style{
    background-color: var(--bg)!important;
}






// create dashboard

// dashboard filter заголовки у динамических инпутов
.webix_template-datepicker .webix_template{
    font-weight: 500;
    padding: 5px 0px!important;
    color:var(--primary);
}

// скролл у дашборда 
.webix_view.dashboardBody.webix_layout_line{
    overflow:visible!important;
}



.webix_dash-filter-headline .webix_template,
.table-edit-headline .webix_template,
.table-filter-headline .webix_template{ //table
    font-size: 16px!important;
    font-weight: 600!important;
    padding: 0px!important;
} //заголовок у фильтров в дашборде и таблице, редакторе таблицы
  

// отступ у контентной части
.dash_container{ 
    margin-top :1px !important;   
    margin-left :1px !important; 
}

// заголовки charts
.dash-HeadlineBlock { 
    margin: 0 !important;
    text-align: center;
    font-size:17px!important;
    font-weight:400 !important;
}

// dashboard timepicker - отключение 
.dash-timeboard { 
    display: none!important;
}

//dashboard invalid input
.dash-filter-invalid{ 
    background  : var(--danger-light) !important;
    border-color: var(--danger)!important;
}

// dash layout spacer
.dash-delim{ 
    background-color: var(--bg) !important;
}








// create table


/// property компонент - скругление
.webix_property{
    border-radius: 5px!important;
}

// edit form отступ от ресайзера
.webix_form-edit{
    margin-left: 0px!important;
}

// popup calendar скругление у плашки времени 
.webix_view.webix_form.webix_layout_space{
    border-radius: 5px!important;
}


// table counter
.webix_style-template-count{
    font-size: 13px!important;
}


//property поле с ошибкой
.propery-error{
    background-color: var(--danger-light); 
}
 
// bg у счетчика записей
.webix_table-style .webix_hcell, .webix_style-template-count{
    background:var(--bg)!important;
}


// сокрытие дефолтных стилей таблицы webix 
.webix_dtable .webix_ss_header .webix_hcolumn div.webix_last_row,
.webix_dtable div.webix_ss_vscroll_header,
.webix_dtable div.webix_ss_vscroll_footer{
    border-bottom-color: rgb(218, 222, 224) !important;
    border-top-color: rgb(218, 222, 224) !important;
}
.webix_dtable .webix_ss_footer .webix_hcolumn > div:first-child, .webix_dtable .webix_ss_footer .webix_hcell[row="0"]{
    border-top-color: rgb(218, 222, 224) !important;
}

// выбранная запись в таблице
.webix_dtable .webix_select_mark > div.webix_row_select{
    box-shadow: inset 2px 0 var(--primary)!important;
}

// курсор на таблице
.webix_cell{
    cursor: pointer;
}

// table toolbar editForm btn
.btn-edit-icon-toolbar{
    font-size:13px!important; 
    color:var(--primary)!important
}

// table filter
.applyNotify{
    padding : 3px 10px!important;
}
.applyNotify .webix_template{
    padding         : 3px 12px !important;
    height          : 30px!important;
    font-size       : 13px!important;
    color           : var(--gray-dark)!important;
    background-color: #ebfff3!important;
    border-radius   : 4px !important;
}


.filter-template-info{
    background-color: var(--bg)!important;
    border-radius:4px !important;
}
.filter-template-info .webix_view {
    background-color: transparent!important;
}
.filter-template-info .webix_template{
    font-size: 13px!important;
    background-color: transparent!important;
    padding: 10px 0px 10px 15px!important;
}
.webix_filter-inputs{
    margin-top: 0px!important; 
}

//tabbar
// выбранный таб
.webix_filter-popup-tabbar .webix_item_tab.webix_selected {
    box-shadow: inset 0 -2px var(--primary)!important;
}
// остальные табы
.webix_filter-popup-tabbar  .webix_item_tab {
    box-shadow: inset 0 -2px var(--gray)!important;
}

//сокрытие дефолтной анимации при переходе между табами
.webix_multivew-cell{
    transition: none !important;
}

// все табы
.webix_all_tabs .webix_item_tab{
    color: var(--primary)!important;
    font-size: 15px!important;
}

// отступ от пояснительного текста в редакторе фильтров
.webix_edit-form-popup{
    margin-top:-15px!important;
}
.webix_edit-form-popup > .webix_scroll_cont > .webix_view.webix_layout_line{
    margin-top: 0px!important;
}





// create tabbar

// стили всех вкладок
.global-tabbar .webix_all_tabs  .webix_item_tab{
    text-align-last: left;
    padding-left: 15px!important;
    box-shadow: none!important;
    color:var(--gray-dark)!important;
    font-size: 13px!important;
}
.global-tabbar .webix_all_tabs  .webix_item_tab:hover{
    background-color: var(--bg)!important;
}
 
// кнопка закрыть вкладку
.global-tabbar .webix_all_tabs  .webix_item_tab .webix_tab_close{
    color:var(--gray-dark)!important;
    font-size: 16px!important;
    padding-top: 2px!important;
}
.global-tabbar .webix_all_tabs  .webix_item_tab .webix_tab_close:hover{
    color:var(--primary-light)!important;
}
.global-tabbar .webix_all_tabs  .webix_item_tab .webix_tab_close:active{
    color:var(--primary-dark)!important;
}

// выбранный таб
.global-tabbar .webix_item_tab.webix_selected{
    background-color: var(--bg);
}
