@import "src/scss/vars";

@import "src/scss/mixins";

@import "src/scss/btns";



//----
// login
// файл с иконками
// кастомизация -- сайдбар
// загрузка данных (отложенная + граф обозначение)


//-----------
// выделение в таблице и удаление (multiselect)
// local storage - resizer
// upload : не нужна кнопка submit
// сепаратор
// datepicker чекнуть
// import



.webix_view,
.webix_confirm  {
    font-weight: 400!important;
    font-size: 14px!important;
}

.webix_inp_top_label{
    font-size: 12px!important;
 
}



// //*** expa
.webix_view.webix_layout_line{
    transition: none!important;
}   


.webix_dashTool{
    height: 125px!important;
}


.webix_progress_top .webix_progress_state, .webix_progress_bottom .webix_progress_state{
    background: var(--primary-light)!important;
 
    background-image:none!important;

}
.webix_progress_bottom .webix_progress_state{
    height: 8px!important;
}

.webix_log-headline{
    font-weight: 600;
}

.webix_view.webix_control.webix_el_checkbox.webix_checkbox-style .webix_inp_label {
    width: 20px!important;
}

.webix_icon, .webix_icon_btn {
    line-height: 0.8!important;
}

.webix_form-adaptive{
    min-height: 98px!important;
    max-height: 151px!important;
}

.webix_template{
    padding: 6px 12px!important;
}
// //*** expa





h1, h2, h3, h4, h5, h6{
    color:var(--dark)!important;
}

.webix_custom_checkbox {
    color:  var(--primary)!important;
}

.webix_custom_checkbox:focus {
    color:  var(--primary)!important;
}
.webix_el_checkbox .webix_label_right{
    font-size: 14px!important;
    font-weight: 400!important;
}

input:focus,
.webix_inp_static:focus,
select:focus{
    border: 1px solid var(--primary)!important;
}

input, select,
.webix_inp_static {
    border-radius: 4px!important;
    font-weight: 400!important;
}

label, button{
    font-weight: 500!important;
}


.webix_mainContent > .webix_view.webix_layout_line{
    margin-left: 0px!important;
  }


.webix_log-block .webix_list_item{
    cursor: default!important;
    font-size: 13px!important;
}

.webix{
    &_view{
        border-color: var(--gray-light) !important;
    }
    &_popup{
        border-radius: 6px!important;
       // padding: 10px 20px!important;
    }
    &_win_body > .webix_view{
        border-radius: 6px!important;
    }
    &_dashboard-h2 .webix_template{
        padding: 0px!important;
    }

    &_view .webix_tree{
        background-color: var(--bg)!important;
        border-width:0px!important;
    }

    &_header-style{
        background-color: var(--bg)!important;
    }
    &_side-container{
        background-color: var(--bg)!important;
    }

    //--------------dashboard
 
    &_accordion-container > .webix_accordionitem.collapsed .webix_accordionitem_header{
        color:var(--dark)!important;
        background-color: var(--bg)!important;
    }
    &_accordion-container > .webix_accordionitem .webix_accordionitem_header{
        font-weight: 400!important;
        font-size: 15px!important;
        background-color: var(--gray-light)!important;
    }

    &_accordion-container > .webix_accordionitem.collapsed .webix_accordionitem_header .webix_accordionitem_button{
        color:var(--dark)!important;
    }
    &_accordion-container > .webix_accordionitem .webix_accordionitem_header .webix_accordionitem_button{
        color:var(--primary)!important;
    }
    
    
    &_timeline_node{
        stroke: var(--primary)!important;
    }


    //--------------dashboard

   
    //--------------forms tree item
    &_form-template > .webix_template{
        padding: 0px!important;
    }
    //--------------forms tree item

    //--------------table

    &_hcolumn, &_pager_item_selected{
        font-weight: 500!important;
        font-size: 14px!important;
    }
    &_table-style .webix_hcell, &_style-template-count{
        background:var(--bg)!important;
    }


    &_dtable .webix_ss_header .webix_hcolumn div.webix_last_row,
    &_dtable div.webix_ss_vscroll_header,
    &_dtable div.webix_ss_vscroll_footer{
        border-bottom-color: rgb(218, 222, 224) !important;
        border-top-color: rgb(218, 222, 224) !important;
    }

    &_dtable .webix_select_mark > div.webix_row_select{
        box-shadow: inset 2px 0 var(--primary)!important;
    }
    &_cell{
        cursor: pointer;
    }


    &_dtable .webix_ss_footer .webix_hcolumn > div:first-child, .webix_dtable .webix_ss_footer .webix_hcell[row="0"]{
        border-top-color: rgb(218, 222, 224) !important;
    }


    //--------------table




    //--------------notify
    &_success{
        border-radius: 4px!important;
        font-weight: 500!important;
    }
    &_success div{
        background-color: var( --success);
    }


    &_error{
        border-radius: 4px!important;
        font-weight: 500!important;
    }
    &_error div{
        background-color: var( --error);
    }

    &_debug{
        border-radius: 4px!important;
        font-weight: 500!important;
    }
    &_debug div{
        background-color: var(--notify);
    }
    //--------------notify




    //--------------popup confirm
   

    &_confirm .webix_popup_title{
        box-shadow: none !important;
    }
    &_popup_button.confirm{
        @include primary-btn;
    }

    &_popup_button.confirm:hover{
        @include primary-btn--hover;
    }

    &_popup_button.confirm:active{
        @include primary-btn--active;
    }

    &_popup_button{
        padding: 5px 10px!important;
    }

    &_popup_controls > :first-child{
        @include secondary-btn;
    }

    &_popup_controls > :first-child:hover{
        @include secondary-btn--hover ;
    }
    &_popup_controls > :first-child:active{
        @include secondary-btn--active ;
    }
    &_modal_box{
        border-radius: 4px!important;
        padding: 15px 30px!important;
    }
    //--------------popup confirm

    //--------------label-img
    &_img-user > .webix_el_box{
        line-height: 0px!important;
    }
    //--------------label-img

    //--------------calendar
    &_cal_body .webix_cal_today .webix_cal_day_inner{
        box-shadow: inset 0 0 0 1px var(--primary)!important;
    }
    &_cal_body .webix_cal_event{
        color: var(--primary)!important;
    }

    &_cal_body .webix_cal_block.webix_selected span:hover{
        background-color: var(--primary-light)!important;
    }
    &_cal_body .webix_cal_block.webix_selected span{
        background-color: var(--primary)!important;
    }
    &_cal_body .webix_cal_block.webix_selected span:active{
        background-color: var(--primary-dark)!important;
    }
    &_cal_body .webix_cal_block span:hover{
        background-color: var(--secondary)!important;
    }

    
    &_cal_prev_button:hover{
        color: var(--primary-light)!important;
    }
    &_cal_next_button:hover{
        color: var(--primary-light)!important;
    }

    &_cal_next_button:focus{
        color: var(--primary)!important;
    }

    &_cal_prev_button:focus{
        color: var(--primary)!important;
    }

    &_cal_done {
        @include secondary-btn;
        height: 35px!important;
        cursor: pointer;
    }
    &_cal_done:hover{
        @include secondary-btn--hover;
        border:none!important;
    }
    &_cal_done:active{
        @include secondary-btn--active;
        border:none!important;
    }
    &_win_body > .webix_view {
        border-radius: 4px;
    }


    //------select
    &_list_item.webix_selected {
        box-shadow: inset 2px 0 var(--primary)!important;
    }
    //------select


    //------checkbox
    // &_checkbox-style{

    // }
     //------checkbox
}
.webix_cal_body .webix_cal_select .webix_cal_day_inner:hover,
.webix_cal_body .webix_cal_today.webix_cal_select .webix_cal_day_inner:hover {
    background: var(--primary-light)!important;
}
.webix_cal_body .webix_cal_select .webix_cal_day_inner,
.webix_cal_body .webix_cal_today.webix_cal_select .webix_cal_day_inner {
    background: var(--primary)!important;
}
.webix_cal_body .webix_cal_select .webix_cal_day_inner:active,
.webix_cal_body .webix_cal_today.webix_cal_select .webix_cal_day_inner:active {
    background: var(--primary-dark)!important;
}

.webix_cal_body .webix_cal_day_inner:hover{
    background: var(--secondary)!important;
}
.webix_cal_icon:hover, .webix_cal_time:hover, .webix_cal_month_name:hover, 
.webix_cal_icon:focus, .webix_cal_time:focus, .webix_cal_month_name:focus{
    color: var(--primary)!important;
}

//--------------calendar

//--------------radio
.webix_el_radio .webix_radio_1 .webix_custom_radio{
    color: var(--primary)!important;
}
.webix_el_radio .webix_radio_1 .webix_custom_radio:hover{
    color: var(--primary-light)!important;
}
.webix_el_radio .webix_radio_1 .webix_custom_radio:active{
    color: var(--primary-dark)!important;
}

.webix_radio_option label{
    font-weight: 400!important;
}

//--------------radio
.webix_property_line  {
    word-wrap:break-word!important;
}







//--------------adaptive
// @media (max-width: 1320px){
//     .webix_filterBar{
//         height: 170px!important;
//     }
//     .webix_custom-inp{
//         display: flex!important;
//         height: 150px!important;
//     }
//     .webix_tableView > .webix_layout_line{
//         height: 150px!important;
//     }
// }
.webix_pager{
    min-width: 150px!important;
}

