@import "src/scss/vars";

@import "src/scss/mixins";

@import "src/scss/btns";


//login, import
// router => local
// form
// keys

// tabs


//+-    counter table +(?), adaptive editTable
//**    popup table (show row), 



//(?)
// rows data src
// struct json for folder
//post  -- куда постить данные таблицы(?)

// потом проверить: очистка формы у get данных


@font-face {
	font-family: 'Open Sans'; 
	src: local('Open Sans'),
		url(/fonts/OpenSans-Regular.ttf); 
}

.webix_view {
    font-family: 'Open Sans', sans-serif!important;
}


input:focus{
    border: 1px solid var(--primary)!important;
}

input {
    border-radius: 6px!important;
}
 
.webix{

    //--------------table
    &_table-style .webix_hcell{
        background:var(--secondary);
    }

    &_dtable .webix_ss_header .webix_hcolumn div.webix_last_row,
    &_dtable div.webix_ss_vscroll_header,
    &_dtable div.webix_ss_vscroll_footer{
        border-bottom-color: rgb(218, 222, 224) !important;
        border-top-color: rgb(218, 222, 224) !important;
    }

    &_dtable .webix_select_mark > div.webix_row_select{
        box-shadow: inset 2px 0 var(--primary)!important;
    }
    &_cell{
        cursor: pointer;
    }


    &_dtable .webix_ss_footer .webix_hcolumn > div:first-child, .webix_dtable .webix_ss_footer .webix_hcell[row="0"]{
        border-top-color: rgb(218, 222, 224) !important;
    }


    //--------------table


    //--------------notify
    &_success{
        border-radius: 10px!important;
    }
    &_success div{
        background-color: var( --success);
    }


    &_error{
        border-radius: 10px!important;
    }
    &_error div{
        background-color: var( --error);
    }

    &_debug{
        border-radius: 10px!important;
    }
    &_debug div{
        background-color: var(--notify);
    }
    //--------------notify




    //--------------popup confirm
   

    &_confirm .webix_popup_title{
        box-shadow: none !important;
    }
    &_popup_button.confirm{
        @include primary-btn;
    }

    &_popup_button.confirm:hover{
        @include primary-btn--hover;
    }

    &_popup_button.confirm:active{
        @include primary-btn--active;
    }

    &_popup_button{
        padding: 5px 10px!important;
    }

    &_popup_controls > :first-child{
        @include secondary-btn;
    }

    &_popup_controls > :first-child:hover{
        @include secondary-btn--hover ;
    }
    &_popup_controls > :first-child:active{
        @include secondary-btn--active ;
    }
    &_modal_box{
        border-radius: 8px!important;
        padding: 15px 30px!important;
    }
    //--------------popup confirm
}
