
.global-tabbar .webix_all_tabs  .webix_item_tab{
    text-align-last: left;
    padding-left: 15px!important;
    box-shadow: none!important;
    color:var(--gray-dark)!important;
    font-size: 13px!important;
}

.global-tabbar .webix_all_tabs  .webix_item_tab:hover{
    background-color: var(--bg)!important;
}
 
.global-tabbar .webix_all_tabs  .webix_item_tab .webix_tab_close{
    color:var(--gray-dark)!important;
    font-size: 16px!important;
    padding-top: 2px!important;
}

.global-tabbar .webix_all_tabs  .webix_item_tab .webix_tab_close:hover{
    color:var(--primary-light)!important;
}

.global-tabbar .webix_all_tabs  .webix_item_tab .webix_tab_close:active{
    color:var(--primary-dark)!important;
}
.global-tabbar .webix_item_tab.webix_selected{
    background-color: var(--bg);
}

