:root {
    --white: #fff;
    --gray: rgb(209, 209, 209);
    --dark: #313131;

    --bg: #f7f7f7;
    --gray-light: rgb(228, 228, 228);
    
    --primary: rgb(108, 160, 228);
    --primary-light:rgb(151, 190, 241);
    --primary-dark:rgb(91, 140, 204);

    --secondary-light:rgb(231, 239, 255);
    --secondary:rgb(210, 224, 255);
    --secondary-dark:rgb(199, 219, 255);

    //messages
    --success: rgb(215, 255, 231);
    --error: rgb(255, 226, 215);
    --notify: rgb(254, 255, 215);

    --danger: rgb(255, 127, 80);
    --danger-light: rgb(255, 195, 173);
    --danger-dark: rgb(223, 126, 91);

    --add: rgb(141, 214, 169);
    --add-light: rgb(167, 230, 191);
    --add-dark: rgb(108, 192, 140);
}